@model DeckDTO

@{
    ViewData["Title"] = "Details";
}
<div class="my-main">
<h1>Details</h1>

<div>
    <h4>Deck</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creator.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language.Name)
        </dd>
        <dt class="col-sm-2">
            Visibility
        </dt>
        <dd class="col-sm-10">
            @(Model.IsPublic ? "Public" : "Private")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeOfCreation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeOfCreation)
        </dd>
    </dl>
</div>
<div>
    <a href="javascript:void(0);" onclick="ChooseGamemode(@Model.Id, @Model.Cards.Count)" class="choose-gamemode">
        Play
    </a> |
    <a asp-controller="Cards" asp-action="Create" asp-route-id="@Model?.Id">Add Card</a> |
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model?.Id">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Front Text
            </th>
            <th>
                Front Image
            </th>
            <th>
                Back Text
            </th>
            <th>
                Back Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cards)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FrontText)
                </td>
                <td>
                    @if (item.FrontPictureUrl != null) {
                        <img style="height:100px; width:auto" src="~/uploads/@item.FrontPictureUrl" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BackText)
                </td>
                <td>
                    @if (item.BackPictureUrl != null)
                    {
                        <img style="height:100px; width:auto" src="~/uploads/@item.BackPictureUrl" />
                    }
                </td>
                <td>
                    <a asp-controller="Cards" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Cards" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="Cards" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>

        }
    </tbody>
</table>
</div>