@model IEnumerable<DeckDTO>
@inject UserManager<AppUser> _userManager
@inject SignInManager<AppUser> SignInManager

@{
    ViewData["Title"] = "Index";
    var currentUser = await _userManager.GetUserAsync(User);
    var signedIn = SignInManager.IsSignedIn(User);
}
<div class="my-main">
    <p>
        <a class="btn btn-secondary" asp-controller="Decks" asp-action="Create">Add Deck</a>
    </p>
    <div class="container mt-4">
        <div class="row">
            @foreach (var deck in Model)
            {
                <div class="col-md-4 col-sm-6 mb-4" onclick="ChooseGamemode(@deck.Id, @deck.Cards.Count)">
                    <div class="card p-3 position-relative deck-container">
                        <div class="d-flex justify-content-between align-items-start ">
                            <div>
                                <h5 class="mb-1">@deck.Name</h5>
                                <small class="text-muted">@deck.Category.Name - @deck.Language.Name</small>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-sm btn-light dropdown-toggle" data-bs-display="static" onclick="event.stopPropagation();" type="button" id="dropdownMenuButton-@deck.Id" data-bs-toggle="dropdown" aria-expanded="false">
                                    ...
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton-@deck.Id" onclick="event.stopPropagation();">
                                    <li><a class="dropdown-item" asp-action="Details" asp-route-id="@deck.Id">Details</a></li>
                                    @if (signedIn) {
                                        if (!currentUser.Saved.Any(d => d.DeckId == deck.Id))
                                        {
                                            <li><a class="dropdown-item" asp-action="Save" asp-route-id="@deck.Id">Save</a></li>
                                        }
                                        else
                                        {
                                            <li><a class="dropdown-item" asp-action="Unsave" asp-route-id="@deck.Id">Unsave</a></li>
                                        }
                                        @if (User.IsInRole("Admin") || currentUser.Id == deck.CreatorId)
                                        {
                                            <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@deck.Id">Edit</a></li>
                                            <li><a class="dropdown-item text-danger" asp-action="Delete" asp-route-id="@deck.Id">Delete</a></li>
                                        }
                                        foreach (var cardlist in currentUser.CreatedCardlists) {
                                            if (!cardlist.Decks.Any(d => d.DeckId == deck.Id)) {
                                                <li>
                                                    <a class="dropdown-item" href="javascript:void(0);" onclick="AddToCardlist(@deck.Id, @cardlist.Id)">
                                                        Add to @cardlist.Name
                                                    </a>
                                                </li>
                                            }
                                        }
                                    }
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                      
                </div>
            }
        </div>
    </div>

</div>