@model CreateCardDTO

@{
    ViewData["Title"] = "Create";
}
<div class="d-flex justify-content-center align-items-center vh-100 flex-column">

    <h3>Add Card</h3>
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="form-floating mb-3">
                <input asp-for="@Model.FrontText" class="form-control">
                <label class="form-label" asp-for="@Model.FrontText">Front Text</label>
            </div>
            <div class="mb-3">

                <input type="file" class="form-control" id="customFile" accept="image/jpeg, image/png" asp-for="@Model.FrontPicture" />
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.BackText" class="form-control">
                <label class="form-label" asp-for="@Model.BackText">Back Text</label>
            </div>
            <div class="mb-3">

                <input type="file" class="form-control" id="customFile" accept="image/jpeg, image/png" asp-for="@Model.BackPicture" />
            </div>
            <input type="hidden" asp-for="DeckId" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-light" asp-controller="Decks" asp-action="Details" asp-route-id="@Model.DeckId">Back to Deck</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
