@model IEnumerable<Caarta.Data.Entities.Card>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Deck)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrontText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrontPictureUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BackText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BackPictureUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Deck.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrontText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrontPictureUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BackText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BackPictureUrl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
