@model AppUser

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Profile Picture
        </dt>
        <dd class="col-sm-10">
            <img style="height:100px; width:auto" src="~/uploads/@Model.ProfilePictureUrl" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ColorThemeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ColorThemeId)
        </dd>

    </dl>
</div>
<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
<a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
<h4> Created Decks</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Creator
            </th>
            <th>
                Category
            </th>
            <th>
                Language
            </th>
            <th>
                Time of creation
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Created)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Creator.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Language.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOfCreation)
                </td>
                <td>
                    <a asp-controller="Decks" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Decks" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="Decks" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<h4>Saved Decks</h4>
<table class="table">  
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Creator
            </th>
            <th>
                Category
            </th>
            <th>
                Language
            </th>
            <th>
                Time of creation
            </th>
            <th></th>
        </tr>
    </thead>
        @foreach (var item in Model.Saved)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Deck.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deck.Creator.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deck.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deck.Language.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deck.TimeOfCreation)
                </td>
                <td>
                    <a asp-controller="Decks" asp-action="Unsave" asp-route-id="@item.Deck.Id">Unsave</a> |
                    <a asp-controller="Decks" asp-action="Edit" asp-route-id="@item.Deck.Id">Edit</a> |
                    <a asp-controller="Decks" asp-action="Details" asp-route-id="@item.Deck.Id">Details</a> |
                    <a asp-controller="Decks" asp-action="Delete" asp-route-id="@item.Deck.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>